<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconNotAvailable</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>iconNotAvailable</string>
		<key>nighttimeIconFilename</key>
		<string>iconNotAvailable</string>
	</dict>
	<key>clear-day</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>sunny</string>
		<key>nighttimeIconFilename</key>
		<string>clear_night</string>
	</dict>
	<key>clear-night</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>sunny</string>
		<key>nighttimeIconFilename</key>
		<string>clear_night</string>
	</dict>
	<key>cloudy</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>cloudy</string>
		<key>nighttimeIconFilename</key>
		<string>cloudy_night</string>
	</dict>
	<key>fog</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>foggy</string>
		<key>nighttimeIconFilename</key>
		<string>fog_night</string>
	</dict>
	<key>hail</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>ice</string>
		<key>nighttimeIconFilename</key>
		<string>ice</string>
	</dict>
	<key>partly-cloudy-day</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>partly_cloudy</string>
		<key>nighttimeIconFilename</key>
		<string>cloudy_night</string>
	</dict>
	<key>partly-cloudy-night</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>partly_cloudy</string>
		<key>nighttimeIconFilename</key>
		<string>cloudy_night</string>
	</dict>
	<key>rain</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>rain_sun</string>
		<key>nighttimeIconFilename</key>
		<string>night_rain</string>
	</dict>
	<key>sleet</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>rain_snow</string>
		<key>nighttimeIconFilename</key>
		<string>rain_snow</string>
	</dict>
	<key>snow</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>snow_sun</string>
		<key>nighttimeIconFilename</key>
		<string>snow_night</string>
	</dict>
	<key>thunderstorm</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>rain_thunder_sun</string>
		<key>nighttimeIconFilename</key>
		<string>night_rain_thunder</string>
	</dict>
	<key>wind</key>
	<dict>
		<key>daytimeIconFilename</key>
		<string>sunny</string>
		<key>nighttimeIconFilename</key>
		<string>clear_night</string>
	</dict>
</dict>
</plist>
